# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin

local.gradle
/test-javalin/jte-classes/
.settings
.classpath
.project
node_modules

.idea
cgi-servlet-container/src/main/antlr/org/ethelred/cgi/servlet/HttpLexer.tokens
cgi-servlet-container/src/main/antlr/org/ethelred/cgi/servlet/gen
cgi-servlet-container/src/main/gen
