<configuration>

    <appender name="NORMAL" class="org.ethelred.util.log.LazyFileAppender">
        <file>test-javalin.log</file>
        <append>true</append>
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="org.ethelred.cgi" level="debug" />
    <logger name="org.eclipse.jetty.server.handler" level="debug" />
    <root level="info">
        <appender-ref ref="NORMAL" />
    </root>
</configuration>
